src/Sitecore.Pathfinder.Console/files/project/sitecore.project/schemas/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.sitecore.net/pathfinder/item" xmlns="http://www.sitecore.net/pathfinder/item"
    xmlns:vs="http://schemas.microsoft.com/Visual-Studio-Intellisense" vs:friendlyname="Sitecore Pathfinder Item" vs:ishtmlschema="false" vs:iscasesensitive="true"
    vs:requireattributequotes="true" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Item" type="Item" />
    <xs:element name="Template" type="Template" />
    <xs:element name="Layout" type="Layout" />
    <xs:element name="File.Include" type="File.Include" />
    <xs:element name="File.Placeholder" type="File.Placeholder" />

    <xs:complexType name="File.Include">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Placeholder">
                <xs:complexType>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="Field" type="Field" />
                        <xs:group ref="ItemGroup" minOccurs="0" maxOccurs="unbounded" />
                    </xs:choice>
                    <xs:attribute name="Key" type="xs:string" />
                </xs:complexType>
            </xs:element>
        </xs:choice>
        <xs:attribute name="File" type="xs:string" use="required" />
        <xs:anyAttribute processContents="lax" />
    </xs:complexType>
    
    <xs:complexType name="File.Placeholder">
        <xs:attribute name="Key" type="xs:string" />
    </xs:complexType>
    
    <xs:complexType name="Field">
        <xs:sequence>
            <xs:any minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" use="required" />
        <xs:attribute name="Value" type="xs:string" use="optional" />
        <xs:attribute name="Value.Hint" type="FieldValueHint" use="optional" />
        <xs:attribute name="Field.Type" type="FieldType" use="optional" />
        <xs:attribute name="Field.Sharing" type="Sharing" use="optional" />
        <xs:attribute name="Field.Source" type="xs:string" use="optional" />
        <xs:attribute name="Field.ShortHelp" type="xs:string" use="optional" />
        <xs:attribute name="Field.LongHelp" type="xs:string" use="optional" />
        <xs:attribute name="Field.SortOrder" type="xs:integer" use="optional" />
    </xs:complexType>

    <xs:complexType name="Item">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="Fields" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="Field" type="Field" minOccurs="0" maxOccurs="unbounded" />
                        <xs:group ref="DirectiveGroup" minOccurs="0" maxOccurs="unbounded" />

                        <xs:element name="Unversioned" minOccurs="0" maxOccurs="1" >
                            <xs:complexType>
                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                    <xs:element name="Field" type="Field" />
                                    <xs:group ref="DirectiveGroup" />
                                </xs:choice>
                                <xs:attribute name="Language" type="xs:string" use="required" />
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="Versioned" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                    <xs:element minOccurs="0" maxOccurs="1" name="Version">
                                        <xs:complexType>
                                            <xs:choice minOccurs="1" maxOccurs="unbounded">
                                                <xs:element name="Field" type="Field" />
                                                <xs:group ref="DirectiveGroup" />
                                            </xs:choice>
                                            <xs:attribute name="Number" type="xs:int" use="required" />
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:group ref="DirectiveGroup" minOccurs="0" maxOccurs="unbounded" />
                                </xs:choice>
                                <xs:attribute name="Language" type="xs:string" use="required" />
                            </xs:complexType>
                        </xs:element>

                        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="http://www.sitecore.net/pathfinder/layouts/master" />
                        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="http://www.sitecore.net/pathfinder/layouts/core" />
                    </xs:choice>
                </xs:complexType>
            </xs:element>

            <xs:group ref="ItemGroup" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>

        <xs:attribute name="Id" type="xs:string" use="optional" />
        <xs:attribute name="Name" type="xs:string" use="optional" />
        <xs:attribute name="Database" type="xs:string" use="optional" />
        <xs:attribute name="ItemPath" type="xs:string" use="optional" />
        <xs:attribute name="ParentItemPath" type="xs:string" use="optional" />
        <xs:attribute name="Template" type="xs:string" use="optional" />
        <xs:attribute name="Template.CreateFromFields" type="bool" use="optional" />
        <xs:attribute name="Template.BaseTemplates" type="xs:string" use="optional" />
        <xs:attribute name="Template.Icon" type="xs:string" use="optional" />
        <xs:attribute name="Template.ShortHelp" type="xs:string" use="optional" />
        <xs:attribute name="Template.LongHelp" type="xs:string" use="optional" />
        <xs:attribute name="Layout.File" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:complexType name="Template">
        <xs:choice maxOccurs="unbounded">
            <xs:element minOccurs="1" maxOccurs="unbounded" name="Section">
                <xs:complexType>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element minOccurs="1" maxOccurs="unbounded" name="Field">
                            <xs:complexType>
                                <xs:attribute name="Name" type="xs:string" use="required" />
                                <xs:attribute name="Type" type="FieldType" use="optional" />
                                <xs:attribute name="Database" type="FieldType" use="optional" />
                                <xs:attribute name="Source" type="xs:string" use="optional" />
                                <xs:attribute name="Sharing" type="Sharing" use="optional" />
                                <xs:attribute name="ShortHelp" type="xs:string" use="optional" />
                                <xs:attribute name="LongHelp" type="xs:string" use="optional" />
                                <xs:attribute name="SortOrder" type="xs:integer" use="optional" />
                                <xs:attribute name="StandardValue" type="xs:string" use="optional" />
                            </xs:complexType>
                        </xs:element>
                        <xs:group ref="DirectiveGroup" />
                    </xs:choice>
                    <xs:attribute name="Name" type="xs:string" use="required" />
                    <xs:attribute name="Icon" type="xs:string" use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:group ref="DirectiveGroup" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
        <xs:attribute name="Id" type="xs:string" use="optional" />
        <xs:attribute name="Name" type="xs:string" use="optional" />
        <xs:attribute name="Database" type="xs:string" use="optional" />
        <xs:attribute name="ItemPath" type="xs:string" use="optional" />
        <xs:attribute name="ParentItemPath" type="xs:string" use="optional" />
        <xs:attribute name="BaseTemplates" type="xs:string" use="optional" />
        <xs:attribute name="Icon" type="xs:string" use="optional" />
        <xs:attribute name="ShortHelp" type="xs:string" use="optional" />
        <xs:attribute name="LongHelp" type="xs:string" use="optional" />
        <xs:attribute name="Layout.File" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:complexType name="Layout">
        <xs:choice>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="http://www.sitecore.net/pathfinder/layouts/master" />
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="http://www.sitecore.net/pathfinder/layouts/core" />
        </xs:choice>
    </xs:complexType>
    
    <xs:group name="DirectiveGroup">
        <xs:choice>
            <xs:element name="File.Include" minOccurs="0" maxOccurs="unbounded" type="File.Include" />
            <xs:element name="File.Placeholder" minOccurs="0" maxOccurs="unbounded" type="File.Placeholder" />
        </xs:choice>
    </xs:group>

    <xs:group name="ItemGroup">
        <xs:choice>
            <xs:element name="Item" type="Item" />
            <xs:element name="Template" type="Template" />
            <xs:group ref="DirectiveGroup" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
    </xs:group>

    <xs:simpleType name="bool">
        <xs:restriction base="xs:string">
            <xs:enumeration value="False" />
            <xs:enumeration value="True" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Sharing">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Shared" />
            <xs:enumeration value="Unversioned" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FieldValueHint">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Text" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FieldType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Single-Line Text" />
            <xs:enumeration value="Checkbox" />
            <xs:enumeration value="Rich Text" />
            <xs:enumeration value="Image" />

            <xs:enumeration value="Multi-Line Text" />
            <xs:enumeration value="Date" />
            <xs:enumeration value="Datetime" />

            <xs:enumeration value="Accounts Multilist" />
            <xs:enumeration value="AccountSelector" />
            <xs:enumeration value="Attachment" />
            <xs:enumeration value="Campaign Tree" />
            <xs:enumeration value="Checklist" />
            <xs:enumeration value="Countable Edit" />
            <xs:enumeration value="Custom" />
            <xs:enumeration value="Datasource" />
            <xs:enumeration value="Droplink" />
            <xs:enumeration value="Droplist" />
            <xs:enumeration value="Droptree" />
            <xs:enumeration value="File" />
            <xs:enumeration value="File Drop Area" />
            <xs:enumeration value="General Link" />
            <xs:enumeration value="General Link with Search" />
            <xs:enumeration value="Grouped Droplink" />
            <xs:enumeration value="Grouped Droplist" />
            <xs:enumeration value="Icon" />
            <xs:enumeration value="IFrame" />
            <xs:enumeration value="Integer" />
            <xs:enumeration value="Internal Link" />
            <xs:enumeration value="Layout" />
            <xs:enumeration value="Multilist" />
            <xs:enumeration value="Multilist with Search" />
            <xs:enumeration value="Name Lookup Value List" />
            <xs:enumeration value="Name Value List" />
            <xs:enumeration value="Number" />
            <xs:enumeration value="Page Preview" />
            <xs:enumeration value="Password" />
            <xs:enumeration value="Profile Card Value" />
            <xs:enumeration value="Profile Cards" />
            <xs:enumeration value="Query Builder" />
            <xs:enumeration value="Query Datasource" />
            <xs:enumeration value="Rendering Datasource" />
            <xs:enumeration value="Rules" />
            <xs:enumeration value="Security" />
            <xs:enumeration value="Sitecore User" />
            <xs:enumeration value="Template Field Source" />
            <xs:enumeration value="Thumbnail" />
            <xs:enumeration value="Tracking" />
            <xs:enumeration value="tree" />
            <xs:enumeration value="Treelist" />
            <xs:enumeration value="TreelistEx" />
            <xs:enumeration value="Tristate" />
            <xs:enumeration value="Version Link" />
            <xs:enumeration value="Word Document" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>